.products {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.products h2 {
  font-size: 48px;
}
.products-content {
  display: grid;
  grid-template-columns: repeat(3, 345px);
  gap: 32px;
}
.categories {
  display: flex;
  gap: 32px;
}
.categories input {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}
.categories input:hover {
  background-color: #1976d29b;
  color: white;
}
.discount {
  padding: 8px 16px;
  background-color: #fa626f;
  width: fit-content;
  border-radius: 4px;
}
.line-through {
  text-decoration: line-through;
}
.product-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 32px;
}
.left {
  width: 60%;
  min-height: 100vh;
  display: flex;
  gap: 16px;
}
img {
  object-fit: cover;
}
.right {
  width: 40%;
  min-height: 100vh;
  padding: 32px;
}
.left .images {
  width: 30%;
  height: 100vh;
}
.images img {
  width: 100%;
  height: 19.2%;
  border-radius: 8px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
}
.single-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
}

.left .single-image {
  width: 70%;
  height: 80vh;
}
.price h4 {
  padding: 8px 16px;
  background-color: rgba(161, 161, 161, 0.521);
  border-radius: 4px;
  width: fit-content;
  font-size: 24px;
}
.add-button {
  height: 50px;
  width: 50px;
  background-color: #1976d29b;
  position: fixed;
  top: 32px;
  right: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart-modal {
  height: 500px;
  width: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 70px;
  right: 100px;
  padding: 16px;
}
.modal-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.quantity input {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #fa626f;
  color: white;
  border: none;
  cursor: pointer;
}
.quantity {
  display: flex;
  gap: 16px;
}
.total {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
